* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--regular-font-family);
}

:root {
  --bg-color-lite: #fafafa;
  --bg-color-dark: #e6e6e6;

  --text-color-lite: #3a3a3a;
  --text-color-dark: #000000;

  --large-font-family: PopL;
  --semib-font-family: PopSB;
  --regular-font-family: PopR;

  --font-size-larger: 24px;
  --font-size-regular: 16px;
  --font-size-small: 13px;

  --hover-color: #98b5eb;
}

/* Wide Header Section Starts Here */

section :is(a, li) {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color-lite);
}

#header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  height: 80px;
  background-color: var(--bg-color-lite);
}

#logo {
  z-index: 1;
}
#logo a {
  font-family: var(--semib-font-family);
  font-size: var(--font-size-larger);
}
#header header nav ul {
  display: flex;
}

#header a {
  padding: 16px;
  transition: color 0.3s;
}

#header nav :is(a:hover, a:focus) {
  color: var(--hover-color);
}

/* Mobile Header Section Starts Here */

#nav-icon {
  display: none;
  position: relative;
}

#nav-icon img {
  width: 30px;
  cursor: pointer;
  color: var(--text-color-lite);
}

.hidden {
  display: none;
}

/* <---------------- Common Area ----------------> */

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  margin: 10vh;
  padding: 50px;
}

/* Hero Section Starts here */
/* Hero Left */

#hero #myImage {
  display: flex;
  place-content: center;
  place-items: center;
}

#hero img {
  max-width: 300px;
  border-radius: 100%;
  outline: 3px solid;
}

/* Hero Right */
#myTitleGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#myTitleGrid #mini-1 {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

#myTitleGrid #mini-2 {
  display: flex;
  padding: 16px 0;
  gap: 16px;
  place-content: center;
}

#myTitleGrid #mini-2 a {
  display: flex;
  place-items: center;
  place-content: center;
  padding: 10px 14px;
  outline: 1px solid;
  border-radius: 50px;
}

#myTitleGrid #mini-3 {
  display: flex;
  gap: 16px;
  place-content: center;
  padding: 10px 0;
}

#myTitleGrid #mini-3 a {
  outline: 0;
}

#myTitleGrid #mini-3 img {
  width: 25px;
}

/* Responsive Desgin Starts Here  */

@media screen and (max-width: 900px) {
  #nav-icon {
    display: flex;
  }
  #header header .navigation {
    display: none;
  }

  #header header nav {
    margin-top: 470px;
  }
  #header header .nav-show {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-dark);
    z-index: 3;
  }

  #header ul :is(li, a) {
    padding: 20px;
  }

  /* Hero Section  */

  .grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  #hero img {
    width: 200px;
  }
}
